<html>
<body>
    <div class=bg-img>
    
    <form class="justify-content-center" (ngSubmit)="signIn()">
        <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Mail Id" id="userName" #userName [(ngModel)]="user.userName"  name="uname" required> 
        
    
        <label for="psw"><b>Password</b></label>
        <input type="password"  placeholder="Enter Password" name="defaultLoginFormPassword" [(ngModel)]="user.password"  name="psw" required>
    
        <button type="submit" (click)="ngSubmit" >Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label> 
        

      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button type="submit" class="cancelbtn" routerLink="">cancel</button>
        <span class="rgn">Not a Member <a href="register">Register?</a></span>

        <span class="psw">Forgot <a href="password">password?</a></span>
       </div>
     <!-- </div>  -->
    </form>
<!-- </body> -->
<!-- </html> -->