input[type=text], input[type=password] {
  width: 100%;
  padding: 14px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid rgb(7, 3, 22);
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #030b20;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #030b20;
}



/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
  
}

span.rgn {
  float: both;
  padding-top: 16px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  span.rgn {
      display: block;
      float: both;
    }
  .cancelbtn {
    width: 100%;
  }
}
.bg-img{
  background-image:url("src\assets\images\p3.jpg");
  align-self:right;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.navbar-brand{
  color:blueviolet;
  font-size:xx-large;
}
