.navbar-brand{
    color:blueviolet;
    font-size:xx-large;
}
body{
    font-family:"Montserrat","Helvitica,"Arial,"sans-serial";
    font-size:16px;
    background-color:blanchedalmond;
    color:black;

}
.cover{
    background-size: cover;
    min-height: 50rem;
    height:auto;
    border-radius: 0;
    width:100%;
    color: bisque;
    padding-top: 1rem;
}