<html>
    <body>

           <div class=bg-img>
            <div class="container">
              <h1>Password</h1>
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" required>
              
              <p><strong >Password is sent to your mail</strong></p>
            
            </div>
              <button type="submit" class="submitbtn" routerLink="">submit</button>
            </div>
          </body>
      </html>
            