<html>
    <body>

    
            <div class="container">
              <h1>Register</h1>
              
              <hr>
              <label for="FirstName"><b>FirstName</b></label>
              <input type="text" placeholder="Enter FirstName" name="fname" required>

              <label for="LastName"><b>LastName</b></label>
              <input type="text" placeholder="Enter LastName" name="lname" required>
          
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" required>
          
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter 8 charaters" name="psw" required>
          
              <label for="PhoneNo"><b>Phone Number</b></label>
              <input type="integer" placeholder="Enter number" name="phno" required>

              <div class="row">
                <div class="col-25">
                  <label for="Address">Address</label>
                </div>
                <div class="col-75">
                  <textarea id="Address" name="Address"  style="height:200px"></textarea>
                </div>
              </div>
              <hr>
          
              
              <button type="submit" class="registerbtn">Register</button>
            </div>
          
            <div class="container signin">
              <p>Already have an account? <a href="login">Sign in</a>.</p>
            </div>
          
          
    </body>
</html>
